Repository scikit-hep/awkward: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Path conditions:
  .ci/azure-buildtest-awkward.yml: any file but: README.md, VERSION_INFO, .ci/azure-doctest-awkward.yml, .ci/azure-deploy-awkward.yml, .ci/linux-build.sh, .readthedocs.yml, docs-src, docs-img, docs-jupyter, docs-doxygen, docs-sphinx, docs, studies, src/cuda-kernels, cuda-kernels
  .ci/azure-doctest-awkward.yml: any file but: README.md, VERSION_INFO, .ci/azure-deploy-awkward.yml, .ci/linux-build.sh, .readthedocs.yml, docs-src, docs-img, docs-jupyter, docs-doxygen, docs-sphinx, docs, studies

Fix broken links.
  docs-doxygen/index.md
  docs-sphinx/index.rst
Due: none

Fix broken links. (#474)
  docs-doxygen/index.md
  docs-sphinx/index.rst
Due: none

Move combinations_step to kernel utils
  include/awkward/kernel-utils.h
  src/cpu-kernels/awkward_ListArray_combinations.cpp
  src/cpu-kernels/awkward_RegularArray_combinations.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Use combinations_step only with int64_t
  include/awkward/kernel-utils.h
  kernel-specification.yml
  src/cpu-kernels/awkward_ListArray_combinations.cpp
  src/cpu-kernels/awkward_RegularArray_combinations.cpp
  src/cpu-kernels/kernel-utils.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Move allocators into kernel-utils
  include/awkward/allocators.h
  include/awkward/kernel-dispatch.h
  include/awkward/kernel-utils.h
  src/cpu-kernels/allocators.cpp
  src/cpu-kernels/kernel-utils.cpp
  src/cuda-kernels/allocators.cu
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fixed unused templated parameter in kernel
  src/cpu-kernels/awkward_ListArray_getitem_next_range_counts.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fix moving allocators into kernel-utils
  src/cpu-kernels/allocators.cpp
  src/cpu-kernels/kernel-utils.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Properly broadcast over empty ListArray (#473)
  src/awkward1/_util.py
  tests/test_0473-empty-listarray.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fix broken CUDA tests
  src/cuda-kernels/kernel-utils.cu
Due: .ci/azure-doctest-awkward.yml

Fix broken CUDA tests (#478)
  src/cuda-kernels/kernel-utils.cu
Due: .ci/azure-doctest-awkward.yml

Add Python 3.9 to tests and deployment.
  .ci/azure-buildtest-awkward.yml
  .ci/azure-deploy-awkward.yml
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Try newer VM images for Windows, MacOS, and Linux.
  .ci/azure-buildtest-awkward.yml
  .ci/azure-deploy-awkward.yml
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

When Python 3.9 works, a new badge will be needed.
  README.md
  docs-img/logo/python-badge.svg
Due: none

Go back to vs2017-win2016 so that 32-bit builds work.
  .ci/azure-buildtest-awkward.yml
  .ci/azure-deploy-awkward.yml
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fill out the 'creating arrays' section. (#409)
  docs-src/_toc.yml
  docs-src/how-to-create-categorical.md
  docs-src/how-to-create-cross-references.md
  docs-src/how-to-create-partitioned.md
  docs-src/how-to-create-records.md
  docs-src/how-to-create-strings.md
  docs-src/how-to-create.md
Due: none

Fit title in sidebar.
  docs-src/_toc.yml
  docs-src/how-to-combinatorics.md
Due: none

Fix links on README.
  README.md
Due: none

add conda install instructions
  README.md
Due: none

add conda-forge channel
  README.md
Due: none

Add conda install instructions (#488)
  README.md
Due: none

Tool to check if kernel specification is sorted
  dev/kernel-diagnostics.py
  kernel-specification.yml
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Add kernel specification order check to CI
  .ci/azure-buildtest-awkward.yml
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fix CI
  .ci/azure-buildtest-awkward.yml
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Update pybind11 to v2.6.0.
  localbuild.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fix warnings for v2.6.0.
  VERSION_INFO
  src/python/identities.cpp
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Trigger CI.
  setup.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Apache Arrow 2.0.0 was released today, breaking a Parquet test.
  tests/test_0341-parquet-reader-writer.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Fix failing Python2
  dev/kernel-diagnostics.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Trigger it again.
  localbuild.py
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Include 'numpy' in PIP_ONLY_BINARY.
  .ci/azure-buildtest-awkward.yml
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Absolutely minimal build and test for Python 3.9.
  .ci/azure-buildtest-awkward.yml
  requirements-dev.txt
  requirements-test.txt
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

YAML.
  .ci/azure-buildtest-awkward.yml
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml

Try adding conditinos.
  .ci/azure-buildtest-awkward.yml
Due: .ci/azure-buildtest-awkward.yml, .ci/azure-doctest-awkward.yml
